openapi: 3.0.3
info:
  title: Realtor Express API
  description: Core backend API for the Realtor Express platform. Manages users, matching, leads, and communications.
  version: 0.2.0

servers:
  - url: https://api.realtor-express.com/v1
    description: Production server (example)

components:
  securitySchemes:
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    # ---------- AUTH / USERS ----------
    UserRegister:
      type: object
      required:
        - email
        - password
        - user_type
        - first_name
        - last_name
      properties:
        email:
          type: string
          format: email
        password:
          type: string
          format: password
          minLength: 8
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
          example: "+12125551234"
        user_type:
          type: string
          enum: [client, agent]
      example:
        email: "agent@example.com"
        password: "SecurePass123"
        first_name: "John"
        last_name: "Doe"
        phone: "+12125551234"
        user_type: "agent"

    AuthResponse:
      type: object
      properties:
        access_token:
          type: string
        refresh_token:
          type: string
        token_type:
          type: string
          default: bearer
        user:
          $ref: '#/components/schemas/User'

    User:
      type: object
      properties:
        id:
          type: string
          format: uuid
        email:
          type: string
          format: email
        first_name:
          type: string
        last_name:
          type: string
        phone:
          type: string
        user_type:
          type: string
          enum: [client, agent, admin]
        agent_profile:
          $ref: '#/components/schemas/AgentProfile'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # ---------- AGENT PROFILE ----------
    AgentProfile:
      type: object
      description: Professional profile for a verified real estate agent
      required:
        - user_id
        - license_number
        - districts
      properties:
        id:
          type: string
          format: uuid
        user_id:
          type: string
          format: uuid
        license_number:
          type: string
          example: "10301234567"
        license_verified:
          type: boolean
          default: false
        license_verified_at:
          type: string
          format: date-time
        verification_document_url:
          type: string
          format: uri
        company:
          type: string
          example: "Douglas Elliman"
        experience_years:
          type: integer
          minimum: 0
        bio:
          type: string
          maxLength: 1000
        avatar_url:
          type: string
          format: uri
        districts:
          type: array
          items:
            type: string
          example: ["10001", "10019", "10022"]
        property_types:
          type: array
          items:
            type: string
            enum: [apartment, house, condo, commercial, land]
        transaction_types:
          type: array
          items:
            type: string
            enum: [buy, sell, rent]
        languages:
          type: array
          items:
            type: string
          example: ["English", "Spanish", "Russian"]
        rating:
          type: number
          format: float
          minimum: 0
          maximum: 5
          default: 0
        review_count:
          type: integer
          default: 0
        completed_deals:
          type: integer
          default: 0
        is_verified:
          type: boolean
          default: false
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # ---------- QUICK REPLY TEMPLATES ----------
    QuickReplyTemplate:
      type: object
      properties:
        id:
          type: string
          format: uuid
        agent_id:
          type: string
          format: uuid
        title:
          type: string
          example: "I'm interested"
        content:
          type: string
          example: "Hi, I'd like to schedule a viewing for this property."
        usage_count:
          type: integer
          default: 0
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    # ---------- QUESTIONNAIRE & MATCHING ----------
    Questionnaire:
      type: object
      required:
        - client_id
        - current_step
        - answers
      properties:
        id:
          type: string
          format: uuid
          example: "123e4567-e89b-12d3-a456-426614174000"
        client_id:
          type: string
          format: uuid
        current_step:
          type: integer
          minimum: 1
          maximum: 7
        answers:
          type: object
          properties:
            transaction_type:
              type: string
              enum: [buy, sell, rent]
            property_type:
              type: string
              enum: [apartment, house, condo, commercial, land]
            districts:
              type: array
              items:
                type: string
              example: ["10001", "10019"]
            budget:
              type: object
              properties:
                min:
                  type: integer
                  example: 500000
                max:
                  type: integer
                  example: 1500000
                currency:
                  type: string
                  default: "USD"
            timeline:
              type: string
              enum: [urgent_30_days, flexible_90_days, exploring]
            requirements:
              type: array
              items:
                type: string
              example: ["pet_friendly", "parking", "gym", "concierge"]
            contact_preference:
              type: string
              enum: [call, email, whatsapp]
            contact_agreed:
              type: boolean
              default: false
        status:
          type: string
          enum: [draft, submitted, matching_in_progress, matched, expired]
          default: draft
        matched_agents:
          type: array
          items:
            $ref: '#/components/schemas/MatchedAgent'
        created_at:
          type: string
          format: date-time
        updated_at:
          type: string
          format: date-time

    MatchedAgent:
      type: object
      properties:
        agent_id:
          type: string
          format: uuid
        match_score:
          type: number
          minimum: 0
          maximum: 100
        match_reasons:
          type: array
          items:
            type: string
          example: ["district_match", "specialization_match", "budget_fit"]
        contacted:
          type: boolean
          default: false
        contacted_at:
          type: string
          format: date-time

    AgentLead:
      type: object
      properties:
        lead_id:
          type: string
          format: uuid
        client_info:
          type: object
          properties:
            transaction_type:
              $ref: '#/components/schemas/Questionnaire/properties/answers/properties/transaction_type'
            property_type:
              $ref: '#/components/schemas/Questionnaire/properties/answers/properties/property_type'
            districts:
              $ref: '#/components/schemas/Questionnaire/properties/answers/properties/districts'
            budget:
              $ref: '#/components/schemas/Questionnaire/properties/answers/properties/budget'
            timeline:
              $ref: '#/components/schemas/Questionnaire/properties/answers/properties/timeline'
        match_info:
          type: object
          properties:
            match_score:
              type: number
            match_reasons:
              type: array
              items:
                type: string
            matched_at:
              type: string
              format: date-time
        status:
          type: string
          enum: [new, viewed, contacted, closed]
          default: new
        contacted_at:
          type: string
          format: date-time
        contact_preference:
          $ref: '#/components/schemas/Questionnaire/properties/answers/properties/contact_preference'

paths:
  # ---------- AUTHENTICATION ----------
  /auth/register:
    post:
      summary: Register a new user (Client or Agent)
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/UserRegister'
      responses:
        '201':
          description: User created successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '400':
          description: Invalid input or email already exists

  /auth/login:
    post:
      summary: Authenticate user and receive JWT token
      tags: [Authentication]
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - email
                - password
              properties:
                email:
                  type: string
                  format: email
                password:
                  type: string
                  format: password
      responses:
        '200':
          description: Successful authentication
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AuthResponse'
        '401':
          description: Invalid credentials

  # ---------- CLIENT ACTIONS ----------
  /client/questionnaire:
    post:
      summary: Submit or update the client questionnaire
      description: |
        Creates or updates the 7-step questionnaire for matching.
        - On first call, creates a new questionnaire in status "draft"
        - Client can update step-by-step by sending current_step and partial answers
        - Final submission changes status to "submitted" and triggers matching
      tags: [Client]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                client_id:
                  type: string
                  format: uuid
                current_step:
                  type: integer
                  minimum: 1
                  maximum: 7
                answers:
                  $ref: '#/components/schemas/Questionnaire/properties/answers'
                submit_final:
                  type: boolean
                  default: false
      responses:
        '200':
          description: Questionnaire saved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Questionnaire'
        '400':
          description: Invalid input data
        '404':
          description: Client not found

  # ---------- AGENT ACTIONS ----------
  /agent/profile:
    get:
      summary: Get the authenticated agent's profile
      tags: [Agent]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: Agent profile retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProfile'
        '401':
          description: Not authenticated
        '403':
          description: User is not an agent

    put:
      summary: Update agent's profile
      tags: [Agent]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                company:
                  type: string
                bio:
                  type: string
                districts:
                  type: array
                  items:
                    type: string
                property_types:
                  type: array
                  items:
                    type: string
                    enum: [apartment, house, condo, commercial, land]
                transaction_types:
                  type: array
                  items:
                    type: string
                    enum: [buy, sell, rent]
                languages:
                  type: array
                  items:
                    type: string
                avatar_url:
                  type: string
                  format: uri
      responses:
        '200':
          description: Profile updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AgentProfile'
        '400':
          description: Invalid data

  /agent/verification:
    post:
      summary: Submit license for verification
      tags: [Agent]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          multipart/form-data:
            schema:
              type: object
              properties:
                license_number:
                  type: string
                license_image:
                  type: string
                  format: binary
                company:
                  type: string
      responses:
        '202':
          description: Verification submitted, pending admin review
        '400':
          description: Missing license information

  /agent/leads:
    get:
      summary: Get the agent's personalized lead feed
      description: |
        Returns matched client questionnaires for this agent.
        - Only returns leads where agent is in matched_agents list
        - Leads are filtered by agent's specialization districts
        - Can filter by lead status and match score
        - Automatically marks leads as "viewed" when returned
      tags: [Agent]
      security:
        - bearerAuth: []
      parameters:
        - name: status
          in: query
          schema:
            type: string
            enum: [new, contacted, closed]
          description: Filter by lead status
        - name: min_match_score
          in: query
          schema:
            type: integer
            minimum: 0
            maximum: 100
            default: 70
          description: Minimum match score to include
        - name: include_contacted
          in: query
          schema:
            type: boolean
            default: false
          description: Include leads already contacted
      responses:
        '200':
          description: List of matched leads
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AgentLead'
        '401':
          description: Agent not authenticated

  /agent/leads/{lead_id}/contact:
    post:
      summary: Mark lead as contacted and send initial response
      description: |
        When agent decides to contact a client:
        1. Marks the lead as "contacted" in the system
        2. Records the contact method and timestamp
        3. Optionally sends a templated response
        4. Triggers notification to client
      tags: [Agent]
      security:
        - bearerAuth: []
      parameters:
        - name: lead_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                contact_method:
                  type: string
                  enum: [call, email, in_app_message]
                  default: in_app_message
                template_id:
                  type: string
                  description: ID of the quick response template used
                custom_message:
                  type: string
                  maxLength: 500
      responses:
        '200':
          description: Contact recorded successfully
        '404':
          description: Lead not found or not accessible to this agent

  # ---------- QUICK REPLY TEMPLATES ----------
  /agent/templates:
    get:
      summary: Get all quick reply templates for the authenticated agent
      tags: [Agent]
      security:
        - bearerAuth: []
      responses:
        '200':
          description: List of templates
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/QuickReplyTemplate'
    post:
      summary: Create a new quick reply template
      tags: [Agent]
      security:
        - bearerAuth: []
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required:
                - title
                - content
              properties:
                title:
                  type: string
                content:
                  type: string
      responses:
        '201':
          description: Template created
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuickReplyTemplate'
        '400':
          description: Invalid input

  /agent/templates/{template_id}:
    put:
      summary: Update an existing quick reply template
      tags: [Agent]
      security:
        - bearerAuth: []
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                title:
                  type: string
                content:
                  type: string
      responses:
        '200':
          description: Template updated
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QuickReplyTemplate'
        '404':
          description: Template not found or not owned by agent

    delete:
      summary: Delete a quick reply template
      tags: [Agent]
      security:
        - bearerAuth: []
      parameters:
        - name: template_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '204':
          description: Template deleted successfully
        '404':
          description: Template not found or not owned by agent

  # ---------- MATCHING ENGINE (Internal/Admin) ----------
  /match/{questionnaire_id}:
    get:
      summary: (Internal/Admin) Run matching algorithm for a specific questionnaire
      tags: [Admin, Matching]
      security:
        - bearerAuth: []
      parameters:
        - name: questionnaire_id
          in: path
          required: true
          schema:
            type: string
            format: uuid
      responses:
        '200':
          description: Matching completed successfully
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/MatchedAgent'
        '404':
          description: Questionnaire not found
